# 15.6 Interting Relational Data.

## Making Tables

`CREATE TABLE Genre (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT
)`


`CREATE TABLE Track (
	id	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	title TEXT, 
	album_id  INTEGER,
	genre_id  INTEGER,
	len INTEGER, rating INTEGER, count INTEGER
)`


`CREATE TABLE Album (
	id	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	artist_id  INTEGER,
	title	TEXT
)
`

### Adding Data into Tables

```SQL
insert into Artist (name) values ('Led Zepplin')
insert into Artist (name) values ('AC/DC')
```

```SQL
insert into Genre (name) values ('Rock')
insert into Genre (name) values ('Metal')
```

Below we will see that we are using the values 1, 2 this relates to the `artist_id` which in our case is `ACDC` and `Led Zepplin`
```SQL
insert into Album (title, artist_id) values ('Who Made Who', 2)
insert into Album (title, artist_id) values ('IV', 1)
```

# 15.7 Reconstructing Data with JOIN
http://en.wikipedia.org/wiki/Join_(SQL)

## The JOIN operation

The JOIN operation links across several tables as part of a select operation
You must tell the JOIN how to use the keys that make the connection between the tables using an ON clause

```SQL
select Album.title, Artist.name from Album join Artist on Album.artist_id = Artist.id
```

```SQL
select Album.title, Album.artist_id, Artist.id,Artist.name 
from Album join Artist on Album.artist_id = Artist.id
```

```SQL
select Track.title, Artist.name, Album.title, Genre.name from Track join Genre join Album join Artist on Track.genre_id = Genre.id and Track.album_id = Album.id and Album.artist_id = Artist.id
```